* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    rgba(160, 154, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
}

.temp {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.degree {
  font-size: 40px;
}
